/******************************************************************************************************
 *                                              STRIPE DATA STYLE
 *                                 	 
 ******************************************************************************************************/

 
 #vbid-ac46e-wy4drtgh   {
	background-size: contain;
}
 
 #vbid-ac46e-xkxtlzlr.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 538px;
}
 
 #vbid-ac46e-u4qhsify.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 61px;
}
 
 #vbid-ac46e-6hy9udpe   {
	background-position: 50% 31.2688827514648%;
}
 
 #vbid-ac46e-amitwsgb   {
	background-position: 48.4326019287109% 71.0374603271484%;
}
 
 #vbid-ac46e-q5fmbixl   {
	background-size: 92%;
}
 
 #vbid-ac46e-1kj52tbj.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 196px;
}
 
 #vbid-ac46e-kuaujfle   {
	background-position: 53.9237670898438% 51.5926666259766%;
}
 
 #vbid-ac46e-kawmoiuq   {
	background-position: 36.0986557006836% 48.3706703186035%;
}
 
 #vbid-ac46e-9h2gz3te   {
	background-position: 41.9580421447754% 0%;
}
 
 #vbid-ac46e-f6olmvjh   {
	background-position: 54.0358734130859% 100%;
}
 
 #vbid-ac46e-5cfb7ql1   {
	background-position: 45.6293716430664% 22.344690322876%;
}
 
 #vbid-ac46e-bcsxfspw   {
	background-position: 46.8609848022461% 26.2973518371582%;
}
 
 #vbid-ac46e-8thnjbot   {
	background-position: 50.5673980712891% 54.6576156616211%;
}
 
 #vbid-ac46e-slq2f6sa   {
	background-position: 51.3452911376953% 16.8316841125488%;
}
 
 #vbid-ac46e-9zyyziiy.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 641px;
}
 
 #vbid-ac46e-htoufbcv.master.item-box    {
	padding-top: 15px;
}
 
 #vbid-ac46e-h1rikmr5   {
	background-position: 54.0752334594727% 91.5584411621094%;
}
 
 #vbid-ac46e-hybsqisp   {
	background-position: 12.0986547470093% 42.2062797546387%;
}
 
 #vbid-ac46e-ygq1nbph.master.item-box    {
	padding-top: 0px;
	min-height: 503px;
} 
 #vbid-ac46e-ygq1nbph.item-box > .item-wrapper    {
	max-width: 1000px;
}
 
 #vbid-ac46e-egeeerim.master.item-box    {
	min-height: 773px;
}
 
 #vbid-ac46e-pn4faqok.master.item-box    {
	padding-top: 10px;
	padding-bottom: 15px;
	min-height: 138px;
} 
 #vbid-ac46e-pn4faqok.item-box > .item-wrapper    {
	max-width: 996px;
}
 
 #vbid-ac46e-qsbxoxlo   {
	background-position: 51.8808784484863% 24.1324920654297%;
}
 
 #vbid-ac46e-dqkmjff9   {
	background-position: 48.6415901184082% 26.6233768463135%;
}
 
 #vbid-ac46e-upanzgjs   {
	background-position: 49.8955078125% 0.613496959209442%;
}
 
 #vbid-ac46e-3dgzmxwh   {
	background-position: 44.2089881896973% 48.3110046386719%;
}
 
 #vbid-ac46e-2uzkvrjv   {
	background-position: 46.9696960449219% 89.3939361572266%;
}
 
 #vbid-ac46e-ixq47tnr   {
	background-position: 56.0606079101563% 100%;
}
 
 #vbid-ac46e-dfhl59sb   {
	background-size: contain;
}
 
 #vbid-ac46e-zkcop9ob.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 199px;
}
 
 #vbid-ac46e-bfnrbche.master.item-box    {
	min-height: 231px;
}
 
 #vbid-ac46e-baph5kv0   {
	background-position: 47.9101371765137% 31.5561962127686%;
}
 
 #vbid-ac46e-snhfqxif.master.item-box    {
	min-height: 699px;
}
 
 #vbid-ac46e-sju0o1x8.master.item-box    {
	padding-bottom: 0px;
	min-height: 883px;
} 
 #vbid-ac46e-sju0o1x8.item-box > .item-wrapper    {
	max-width: 1000px;
}
 
 #vbid-ac46e-fct6ogag.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 205px;
}
 
 #vbid-ac46e-2gd843hz   {
	background-position: 51.9258079528809% 44.8459205627441%;
}
 
 #vbid-ac46e-emppbgx7.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 731px;
}
 
 #vbid-ac46e-rrd5xtxp   {
	background-position: 48.2062797546387% 23.9910316467285%;
}
 
 #vbid-ac46e-x5lricom   {
	background-position: 43.6865196228027% 53.7792205810547%;
}
 
 #vbid-ac46e-pc1vf0qi   {
	background-position: 48.6415901184082% 18.5064926147461%;
}
 
 #vbid-ac46e-zgktruti   {
	background-size: contain;
}
 
 #vbid-ac46e-nnxr90v6.master.item-box    {
	min-height: 603px;
}
 
 #vbid-ac46e-waeariwe   {
	background-position: 23.3408069610596% 0%;
}
 
 #vbid-ac46e-aixdkwrr.master.item-box    {
	min-height: 231px;
}

 
 #vbid-ac46e-2bbc5ljn.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 641px;
}
 
 #vbid-ac46e-9smuu0hj.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 641px;
}
 
 #vbid-ac46e-opkwtl3d   {
	background-position: 51.7937202453613% 11.3861389160156%;
}