/******************************************************************************************************
 *            DYNAMIC STYLE FOR style-ac46e-kifovos1
 *                                 	 
 ******************************************************************************************************/
	 .style-ac46e-ewjgk2lb .style-ac46e-kifovos1 .title-holder  {
		
						text-align: center;	
		}
	 .style-ac46e-ewjgk2lb .style-ac46e-kifovos1 .Title  ,  .style-ac46e-ewjgk2lb .style-ac46e-kifovos1 .Body h1  { 
						color: #8a7373;
						letter-spacing: 0.15em;
						font-family: open-sans;
						font-size: 36px;
						font-weight: bold;	
		}
	 .style-ac46e-ewjgk2lb .style-ac46e-kifovos1  .preview-content-holder  {
		
						margin-right: 0px;
						padding-bottom: 0px;
						text-align: left;
						max-width: 300px;
						padding-right: 0px;
						margin-top: 10px;
						margin-left: 0px;
						padding-top: 0px;
						margin-bottom: 10px;
						background-color: rgba(0, 0, 0, 0);
						border-color: rgb(60, 60, 60);
						padding-left: 0px;	
		}
	 .style-ac46e-ewjgk2lb .style-ac46e-kifovos1 .item-content:not(.blocks_layout)  {
		
						background-color: rgba(0, 0, 0, 0);	
		}
	 .style-ac46e-ewjgk2lb .style-ac46e-kifovos1 .inner-pic  {
		
						color: rgb(0, 0, 0);	
		}
	 .style-ac46e-ewjgk2lb .style-ac46e-kifovos1 #pagination-holder  {
		
						font-style: italic;
						font-size: 18px;
						color: rgb(76, 76, 76);
						padding-bottom: 5px;
						border-color: rgb(85, 85, 85);
						border-width: 1px;
						padding-right: 15px;
						padding-left: 15px;
						padding-top: 5px;
						margin-bottom: 40px;
						font-family: Times New Roman;	
		}
	 .style-ac46e-ewjgk2lb .style-ac46e-kifovos1 .multi_layout .helper-div.middle-center .pic-side  {
		
						margin-left: -6%;	
		}
	 .style-ac46e-ewjgk2lb .style-ac46e-kifovos1 .multi_layout .helper-div.middle-center  {
		
						padding-left: 6%;
						padding-right: 6%;
						width: 88%;	
		}
	 .style-ac46e-ewjgk2lb .style-ac46e-kifovos1 .background-div  {
			
		}
	 .style-ac46e-ewjgk2lb .style-ac46e-kifovos1.master.item-box   {
		
						background-color: rgb(255, 255, 255);	
		}
	 .style-ac46e-ewjgk2lb .style-ac46e-kifovos1 .preview-title  ,  .style-ac46e-ewjgk2lb .style-ac46e-kifovos1 .preview-body h1  { 
						font-family: Montserrat;
						font-size: 14px;
						color: rgb(0, 0, 0);
						letter-spacing: -0.05em;
						line-height: 1.3em;
						background-color: rgba(0, 0, 0, 0);	
		}
	 .style-ac46e-ewjgk2lb .style-ac46e-kifovos1.master.item-box   {
		
						padding-left: 6%;
						width: 88%;
						padding-right: 6%;	
		}
	 .style-ac46e-ewjgk2lb .style-ac46e-kifovos1 .preview-item-links span  ,  .style-ac46e-ewjgk2lb .style-ac46e-kifovos1 #sr-basket-widget *  { 
						font-family: Arial;
						font-size: 12px;
						color: rgb(255, 255, 255);
						padding-bottom: 10px;
						border-color: rgb(191, 52, 52);
						letter-spacing: 0.1em;
						padding-right: 15px;
						margin-top: 10px;
						padding-left: 15px;
						border-radius: 16px;
						padding-top: 10px;
						margin-bottom: 30px;
						border-width: 0px;
						background-color: rgb(188, 188, 188);	
		}
	 .style-ac46e-ewjgk2lb .style-ac46e-kifovos1 .blocks-preview-body  {
		
						margin-bottom: 10px;
						line-height: 1.6em;
						margin-top: 10px;	
		}
	 .style-ac46e-ewjgk2lb .style-ac46e-kifovos1 .stripe-background  {
		
						opacity: 0.28;
		    			-webkit-filter: grayscale(100%) brightness(0.8);filter: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPg0KIDxmaWx0ZXIgaWQ9ImdyYXlzY2FsZSI+DQogIDxmZUNvbG9yTWF0cml4IHR5cGU9Im1hdHJpeCIgdmFsdWVzPSIwLjMzMzMgMC4zMzMzIDAuMzMzMyAwIDAgMC4zMzMzIDAuMzMzMyAwLjMzMzMgMCAwIDAuMzMzMyAwLjMzMzMgMC4zMzMzIDAgMCAwIDAgMCAxIDAiLz4NCiA8L2ZpbHRlcj4NCjwvc3ZnPg==#grayscale),url(data:image/svg+xml;base64,PHN2ZyBoZWlnaHQ9IjAiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+DQogPGZpbHRlciBpZD0iYnJpZ2h0bmVzcyI+DQogICAgPGZlQ29tcG9uZW50VHJhbnNmZXI+DQogICAgICAgPGZlRnVuY1IgdHlwZT0ibGluZWFyIiBzbG9wZT0iMC44Ii8+DQogICAgICAgPGZlRnVuY0cgdHlwZT0ibGluZWFyIiBzbG9wZT0iMC44Ii8+DQogICAgICAgPGZlRnVuY0IgdHlwZT0ibGluZWFyIiAgc2xvcGU9IjAuOCIvPg0KICAgIDwvZmVDb21wb25lbnRUcmFuc2Zlcj4NCiAgPC9maWx0ZXI+DQo8L3N2Zz4=#brightness);
						margin-top: -10px;
						margin-left: -6%;	
		}
	 .style-ac46e-ewjgk2lb .style-ac46e-kifovos1 .preview-element.icon-source  {
		
						color: rgb(0, 0, 0);
						margin-bottom: 20px;
						border-color: rgb(166, 166, 166);
						width: 40px;	
		}
	 .style-ac46e-ewjgk2lb .style-ac46e-kifovos1 .blocks-preview-content-holder  {
		
						text-align: left;
						max-width: 1050px;
						margin-right: 30px;
						margin-top: 40px;
						margin-left: 30px;
						margin-bottom: 20px;	
		}
	 .style-ac46e-ewjgk2lb .style-ac46e-kifovos1 .background-image-div  {
		
						color: rgb(0, 0, 0);	
		}
	 .style-ac46e-ewjgk2lb .style-ac46e-kifovos1 .Subtitle  ,  .style-ac46e-ewjgk2lb .style-ac46e-kifovos1 .Body h2  { 
						font-family: ralewaythin;
						font-size: 22px;	
		}
	 .style-ac46e-ewjgk2lb .style-ac46e-kifovos1.item-box > .item-wrapper   {
		
						max-width: 1000px;	
		}
	 .style-ac46e-ewjgk2lb .style-ac46e-kifovos1 .blocks-preview-subtitle  {
		
						color: rgb(0, 0, 0);
						margin-bottom: 10px;
						font-family: Raleway;
						font-size: 16px;
						margin-top: 10px;	
		}
	 .style-ac46e-ewjgk2lb .style-ac46e-kifovos1 .preview-item-links span:before  ,  .style-ac46e-ewjgk2lb .style-ac46e-kifovos1 .effect-tester  { 
						background-color: rgb(48, 48, 48);	
		}
	 .style-ac46e-ewjgk2lb .style-ac46e-kifovos1  .preview-content-wrapper  {
		
						text-align: left;
						vertical-align: top;	
		}
	 .style-ac46e-ewjgk2lb .style-ac46e-kifovos1 .preview-item-links span:hover  ,  .style-ac46e-ewjgk2lb .style-ac46e-kifovos1 .preview-element.Link.hover-tester  { 
						color: rgb(255, 255, 255);
						background-color: rgba(0, 0, 0, 0);	
		}
	 .style-ac46e-ewjgk2lb .style-ac46e-kifovos1 .subtitle-holder  {
		
						text-align: center;	
		}
	 .style-ac46e-ewjgk2lb .style-ac46e-kifovos1 .blocks-preview-divider  {
		
						border-bottom-width: 4px;
						width: 10%;	
		}
	 .style-ac46e-ewjgk2lb .style-ac46e-kifovos1 .blocks-preview-content-wrapper  {
		
						text-align: left;	
		}
	 .style-ac46e-ewjgk2lb .style-ac46e-kifovos1 .blocks-preview-title  {
		
						margin-bottom: 10px;
						font-size: 40px;
						margin-top: 10px;
						letter-spacing: -0.05em;	
		}
	 .style-ac46e-ewjgk2lb .style-ac46e-kifovos1 .preview-body  {
		
						line-height: 1.4em;
						font-size: 12px;
						color: rgb(140, 140, 140);
						max-width: 500px;
						margin-right: 0px;
						margin-top: 15px;
						margin-bottom: 10px;
						font-family: Arial;	
		}
	
	 .style-ac46e-ewjgk2lb .style-ac46e-kifovos1 .preview-subtitle  ,  .style-ac46e-ewjgk2lb .style-ac46e-kifovos1 .preview-body h2  { 
						font-family: Arial;
						font-size: 11px;
						color: rgb(101, 101, 101);
						letter-spacing: 0.1em;
						margin-right: 0px;
						margin-left: 0px;
						line-height: 1.4em;
						background-color: rgba(255, 255, 255, 0);	
		}

/******************************************************************************************************
 *            UNIQUE STYLE
 *                                 	 
 ******************************************************************************************************/


































/******************************************************************************************************
 *            WEBSITE STYLE
 *                                 	 
 ******************************************************************************************************/
